
<div id="body" class="col-md-12">
    <div class="divider-xl"></div>

    <form (ngSubmit)="f.valid && changePassword()" #f="ngForm">

        <div class="between-well">
            <div class="mt-5 well">

            <h2 class="mb-5"> {{ 'change-password-title' | translate}} </h2>

            <div class="row justify-content-center">
                <div class="col-md-6 col-md-offset-3">
                <div class="divider-sm"></div>

                <div class="form-group">
                    <label>{{ 'current-password' | translate}}</label>
                    <input class="form-control"
                            type="password"
                            name="oldPassword"
                            required
                            ngModel
                            #oldPass="ngModel"/>
                    <span class="help-block" *ngIf="oldPass.errors?.required && (oldPass.touched|| f.submitted)">
                        {{'required-field' | translate}}
                    </span>
                </div>

                <div class="form-group">
                    <label>{{ 'new-password' | translate}}</label>
                    <input class="form-control"
                            type="password"
                            name="newPassword"
                            required
                            minlength="6"
                            ngModel
                            (blur)="confirmPasswordMatching()"
                            #newPass="ngModel"/>
                    <span class="help-block" *ngIf="(newPass.errors?.required || newPass.errors?.minlength) && (newPass.touched || f.submitted)">
                        {{'password-min-length-error' | translate}}
                    </span>
  
                </div>


                <div class="form-group">
                    <label>{{'confirm-password' | translate}}</label>
                    <input class="form-control"
                            type="password"
                            name="confirmPassword"
                            required
                            minlength="6"
                            ngModel
                            #confirmPass="ngModel"
                            (input)="confirmPasswordMatching()"/>
                    <span  class="help-block" *ngIf="confirmPass.errors?.required && (confirmPass.touched || f.submitted)">
                        {{'required-field' | translate}}
                    </span>
                    <span  class="help-block" *ngIf="confirmPass.errors?.mismatch && confirmPass.touched">
                        {{'password-mismatch'|translate}}
                    </span>
                    
                </div>


                <div class="divider-sm"></div>

                <div class="inset justify-content-center row">
                    <input type="submit"
                            class="btn btn-dark btn-lg mt-2"
                            value="{{ 'change' | translate}}"/>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </form>
</div>