<div class="purpule-header">
  <div class="container-fluid">
  
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark ">
          <a class="navbar-brand" ><img src="assets/img/fawry-digital-logo.svg" alt="fawry-logo"></a>
          <button class="navbar-toggler align-self-end custom-align" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="form-inline my-2 my-lg-0">

              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <span class="nav-link">{{loggedInUserName}}</span>
                </li>

                <li class="nav-item mobile-view ">
                  <a id="loginBtnLink" *ngIf="!isLoggedIn()" class="nav-link loginBtn" routerLink="/auth/login" translate>login</a>
                  <a class="nav-link" *ngIf="isLoggedIn()" [matMenuTriggerFor]="options"><mat-icon>more_vert</mat-icon></a>
                </li>

                <mat-menu #options="matMenu">
                  <button mat-menu-item [matMenuTriggerFor]="appsMenu" *ngIf="accessibleApplications && accessibleApplications.length > 0">Applications</button>
                  <button mat-menu-item (click)="logout()" translate>Log out</button>
                </mat-menu>

                <mat-menu #appsMenu="matMenu">
                  <a *ngFor="let app of accessibleApplications" [href]="app.url"><button mat-menu-item >{{ app | translateName}}</button></a>
                </mat-menu>

                <li><button id="changeLngLink" type="button" class="btn btn-warning btn-sm mt-2 pt-1" (click)="changeLocal()">{{'negative-local-key' | translate}}</button></li>
            </ul>

            </div>
          </div>
        </nav>
      </div>
    </div>

  </div>
</div>
